<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/users">Personas</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
  <h1>Editar persona</h1>
  {{#if errors}}
    <div class="errors">
      <ul>
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  <form action="/users/edit/{{user.nPerCode}}" method="post">
    <label for="cPerLastname">Apellido:</label>
    <input type="text" id="cPerLastname" name="cPerLastname" value="{{user.cPerLastname}}"><br>
    <label for="cPerName">Nombre:</label>
    <input type="text" id="cPerName" name="cPerName" value="{{user.cPerName}}"><br>
    <label for="cPerAddress">Dirección:</label>
    <input type="text" id="cPerAddress" name="cPerAddress" value="{{user.cPerAddress}}"><br>
    <label for="cPerDateBorn">Fecha de Nacimiento:</label>
    <input type="date" id="cPerDateBorn" name="cPerDateBorn" value="{{formatDateForInput user.cPerDateBorn}}"><br>
    <label for="nPerYears">Años:</label>
    <input type="number" id="nPerYears" name="nPerYears" value="{{user.nPerYears}}"><br>
    <label for="nPerSalary">Salario:</label>
    <input type="number" step="0.01" id="nPerSalary" name="nPerSalary" value="{{user.nPerSalary}}"><br>
    <label for="cPerRnd">RND:</label>
    <input type="text" id="cPerRnd" name="cPerRnd" value="{{user.cPerRnd}}"><br>
    <label for="cPerState">Estado:</label>
    <select id="cPerState" name="cPerState">
      <option value="1" {{#if (eq user.cPerState '1')}}selected{{/if}}>Activo</option>
      <option value="0" {{#if (eq user.cPerState '0')}}selected{{/if}}>Inactivo</option>
    </select><br>
    <label for="cPerSexo">Sexo:</label>
    <input type="text" id="cPerSexo" name="cPerSexo" value="{{user.cPerSexo}}"><br>
    <label for="remember_token">Token:</label>
    <input type="text" id="remember_token" name="remember_token" value="{{user.remember_token}}"><br>
    <button type="submit">Actualizar</button>
  </form>
</body>
</html>
